.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-1r {
  margin-bottom: 1rem;
}

.df {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.fw-w {
  flex-wrap: wrap;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
